@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Frutiger-R';
    src: url(../font/Frutiger-Roman.otf);
}

@font-face {
    font-family: 'Frutiger-B';
    src: url(../font/Frutiger-Black.otf);
}

@font-face {
    font-family: 'Frutiger-L';
    src: url(../font/Frutiger-Light.otf);
}

@font-face {
    font-family: 'korea-light';
    src: url(../font/NotoSansCJKkr-Medium.otf);
}

@font-face {
    font-family: 'korea';
    src: url(../font/NotoSansCJKkr-bold.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Frutiger-R', 'korea-light', 'korea-light';
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: keep-all;
}

input::placeholder {
    color: #111;
    font-family: 'Frutiger-R', 'korea-light', 'korea-light';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul, li{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after{
    content:'';
    display: block;
    clear: both;
}
*, *:after, *:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    color: #333;
}
a, a:focus, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: top;
}

.pc {
    display: inline-block;
}

.pc-m {
    display: block;
}

.mobile {
    display: none;
}

.mobile-m {
    display: none!important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 1178px) {
    .mobile-m {
        display: block!important;
    }

    .pc-m {
        display: none;
    }
}


@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

}